<!-- cliente-detalle-page.component.html -->
<div class="detalle-page-wrapper" *ngIf="cliente">
  <div class="detalle-page-header">
    <div>
      <h1 class="admin-title">Detalle del Cliente</h1>
      <p class="admin-subtitle">Información completa del cliente</p>
    </div>
    <div class="header-actions">
      <button class="btn-edit"   (click)="editar()">✏ Editar</button>
      <button class="btn-delete" (click)="eliminar()">🗑 Eliminar</button>
      <a class="btn-back" routerLink="/clientes">← Volver</a>
    </div>
  </div>

  <section class="detalle-section">
    <app-cliente-detalle [seleccionado]="cliente"></app-cliente-detalle>
  </section>
</div>