<header class="navigation-bar" id="navbar">
  <figure class="logo">
    <img src="assets/IMGS/seasideLogo.png" alt="Logo" />
  </figure>

  <nav>
    <ul class="nav-links">
      <li><a class="page-link" routerLink="/">Home</a></li>
      <li><a class="page-link" routerLink="/menu">Menú</a></li>
      <li><a class="page-link" routerLink="/contacto">Contáctanos</a></li>
      <li><a class="page-link" routerLink="/visitanos">Visítanos</a></li>
      <li><a class="login-link" routerLink="/login">Log in</a></li>
    </ul>
  </nav>
</header>